*, *::before, *::after {
	padding: 0;
	margin: 0;
	border: 0;
	outline: 0;
	user-select: none;
	box-sizing: border-box;

}

html, body {
	width: 100%;
	height: 100%;
	position: relative;
}

body.lock {
	overflow: hidden;

	@media screen and (min-width: 770px) {
		overflow: auto;
	}
}

a {
	text-decoration: none;
}

img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #abc #222;
}

/* для Chrome/Edge/Safari */
*::-webkit-scrollbar {
  height: 10px;
  width: 4px;
}
*::-webkit-scrollbar-track {
  background-color: #222;
}

*::-webkit-scrollbar-thumb {
  background-color: #abc;
  border-radius: 0px;
  border: 4px solid #abc;
}

@import 'fonts';

@import 'burger';

@import 'header';

.container {
	max-width: 1600px;
	margin: 0 auto;
	padding: 0 20px;
}

@import 'sections/section_1';
@import 'sections/section_2';
@import 'sections/section_3';
@import 'sections/section_4';
@import 'sections/section_5';

@import 'footer';