.s2 {
	position: relative;
	min-height: 100vh;
	background-image: url('../images/dest/section_2/1.jpg');
	background-repeat: no-repeat;

	.container {
		padding-top: 600px;
		padding-bottom: 100px;

		@media screen and (max-width: 999px) {
			padding-top: 340px;
		}
	}

	&__button_top {
		display: inline-block;
		padding: 18px 30px;
		margin-bottom: 20px;
		border-radius: 35px;
		background: #E8594E;

		font-family: 'SFProDisplay';
		font-weight: 900;
		font-size: 11px;
		letter-spacing: 2px;
		color: #fff;
		text-transform: uppercase;
		text-shadow: 1px 1px #333;
	}

	&__title {

		max-width: 640px;
		margin-bottom: 20px;

		font-family: 'SFProDisplay';
		font-weight: 700;
		font-size: 48px;
		line-height: 64px;
		color: #fff;
		text-shadow: 2px 2px #333;

		@media screen and (max-width: 1248px) {
			max-width: 460px;
		}

		@media screen and (max-width: 600px) {
			max-width: 435px;
		}
	}

	&__text {
		max-width: 640px;
		margin-bottom: 40px;

		font-family: 'SFCompactText';
		font-weight: 400;
		font-size: 14px;
		line-height: 21px;
		color: #fff;
		text-shadow: 1px 1px #111;

		@media screen and (max-width: 1248px) {
			max-width: 550px;
		}

		@media screen and (max-width: 600px) {
			max-width: 435px;
		}
	}

	&__button_bot {
		display: inline-block;
		padding: 32px 80px;
		border-radius: 5px;
		background: #73AFBA;

		font-family: 'SFProDisplay';
		font-weight: 900;
		font-size: 12px;
		letter-spacing: 2px;
		color: #fff;
		text-transform: uppercase;
		text-shadow: 1px 1px #333;
	}

	&__sidebar {
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		max-width: 690px;
		padding: 130px 170px 130px 130px;
		background: rgba(60, 74, 81, .95);

		@media screen and (max-width: 999px) {
			/* top: auto;
			bottom: 0;
			left: 0;
			height: 40%;
			max-width: 100%; */

			top: 80px;
			position: relative;
			max-width: 100%;
			padding: 50px 170px 20px 130px;
		}

		@media screen and (max-width: 800px) {
			padding: 50px 50px 20px 50px;
		}

		@media screen and (max-width: 600px) {
			padding: 10px 50px 20px 50px;
		}

		@media screen and (max-width: 396px) {
			top: 55px;
		}

		@media screen and (max-width: 346px) {
			top: 90px;
			padding: 10px 20px 20px 30px;
		}

		@media screen and (min-width: 1250px) and (max-width: 1400px) {
			padding: 130px 100px 100px 100px;
		}
	
		@media screen and (min-width: 1000px) and (max-width: 1249px) {
			padding: 100px 70px 100px 80px;
		}
	

		&-title {
			
			max-width: 370px;
			margin-bottom: 100px;

			font-family: 'SFProDisplay';
			font-weight: 700;
			font-size: 64px;
			line-height: 80px;
			color: #fff;
			text-shadow: 2px 2px #333;

			@media screen and (max-width: 999px) {
				max-width: 100%;
				margin-bottom: 80px;
			}

			@media screen and (max-width: 600px) {
				font-size: 54px;
			}

			@media screen and (max-width: 520px) {
				font-size: 40px;
			}

			@media screen and (max-width: 420px) {
				font-size: 32px;
			}

			@media screen and (max-width: 375px) {
				font-size: 29px;
			}

			@media screen and (max-width: 346px) {
				margin-bottom: 70px;
			}

			@media screen and (min-width: 1000px) and (max-width: 1249px) {
				max-width: 270px;
			}
		}
	} // sidebar


	.stories {
		margin-bottom: 100px;

		&__list {
			max-width: 370px;
			display: flex;
			flex-direction: column;

			@media screen and (max-width: 999px) {
				max-width: 100%;
			}

			@media screen and (min-width: 1000px) and (max-width: 1249px) {
				max-width: 270px;
			}
		}

		&__element {
			display: flex;
			flex-wrap: wrap;
			gap: 30px;
			padding-top: 30px;
			padding-bottom: 30px;

			border-bottom: 1px solid rgba(99, 99, 99, .7);

			&:first-child {
				padding-top: 0;
			}

			&:last-child {
				border: none;
			}
		}

		&__avatar {
			width: 46px;
			height: 46px;
			overflow: hidden;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 100%;
		
			&-image {
				width: 48px;
				height: 48px;
			}
		} 

		&__title {

			max-width: calc(100% - 80px);

			margin-bottom: 10px;

			font-weight: 700;
			font-size: 18px;
			line-height: 24px;
			color: #fff;
			font-family: 'SFProDisplay';
			text-shadow: 1px 1px #333;
		}

		&__date {
			display: block;
			font-weight: 400;
			font-size: 11px;
			color: #aaa;
			font-family: 'SFProText';
			text-shadow: 1px 1px #333;
		}
	} // stories
}